<div class="header">
    <!-- <p class="photo">
        <img src="{{site.url}}/assets/tom_china.jpg" width="100px">
    </p> -->
</div>
<ul class="navbar" id="myNavbar">
  <li> <a {% if page.url == 'home' %} class="extra active" {% else %} class = "extra" {% endif %} href="{{ site.url }}">home</a> </li>
  <li> <a {% if page.url == 'research' %} class="extra active" {% else %} class = "extra" {% endif %} href="{{ site.url }}/research">research</a> </li>
  <!-- <li> <a {% if page.url == 'publications' %} class="extra active" {% else %} class = "extra" {% endif %} href="{{ site.url }}/publications">publications</a> </li> -->
  <li> <a {% if page.url == 'teaching' %} class="extra active" {% else %} class = "extra" {% endif %} href="{{ site.url }}/teaching">teaching</a> </li>
  <li> <a {% if page.url == 'news' %} class="extra active" {% else %} class = "extra" {% endif %} href="{{ site.url }}/news">news</a> </li>
  <!-- <li> <a {% if page.url == 'blog' or page.url contains '/posts/' %} class="extra active" {% else %} class = "extra" {% endif %} href="{{ site.url }}/blog">fun stuff</a> </li> -->
  <!-- <li> <a class="extra" href="{{site.url}}assets/CV.pdf">c.v.</a> </li> -->
</ul>
