/* Lucida Grande */
@font-face {
    font-family: 'Lucida Grande';
    font-weight: normal;
    font-style: normal;
    src: local('Lucida Grande'), url('Lucida Grande.ttf') format('ttf');
}

@font-face {
    font-family: 'Lucida Grande Bold';
    font-weight: normal;
    font-style: normal;
    src: local('Lucida Grande Bold'), url('Lucida Grande Bold.ttf') format('ttf');
}

/* Apercu */
@font-face {
    font-family: 'Apercu Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Apercu Regular'), url('Apercu_Regular.woff') format('woff');
}


@font-face {
    font-family: 'Apercu Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Apercu Italic'), url('Apercu Italic.woff') format('woff');
}


@font-face {
    font-family: 'Apercu Light';
    font-style: normal;
    font-weight: normal;
    src: local('Apercu Light'), url('Apercu Light.woff') format('woff');
}


@font-face {
    font-family: 'Apercu Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Apercu Light Italic'), url('Apercu Light Italic.woff') format('woff');
}

@font-face {
    font-family: 'Apercu Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Apercu Medium'), url('Apercu Medium.woff') format('woff');
}


@font-face {
    font-family: 'Apercu Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Apercu Medium Italic'), url('Apercu Medium Italic.woff') format('woff');
}


@font-face {
    font-family: 'Apercu Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Apercu Bold'), url('Apercu Bold.woff') format('woff');
}


@font-face {
    font-family: 'Apercu Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Apercu Bold Italic'), url('Apercu Bold Italic.woff') format('woff');
}


@font-face {
    font-family: 'Apercu Mono Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Apercu Mono Regular'), url('Apercu Mono.woff') format('woff');
}

/* Freight Sans */
@font-face {
    font-family: 'Freight Sans Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Freight Sans Medium'), url('Freight Sans Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Freight Sans Light';
    font-style: normal;
    font-weight: normal;
    src: local('Freight Sans Light'), url('Freight Sans Light.otf') format('opentype');
}


@font-face {
    font-family: 'Freight Sans Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Freight Sans Light Italic'), url('Freight Sans Light Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Freight Sans Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Freight Sans Medium Italic'), url('Freight Sans Medium Italic.otf') format('opentype');
}


@font-face {
    font-family: 'Freight Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Freight Sans Bold'), url('Freight Sans Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Freight Sans Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('Freight Sans Semibold'), url('Freight Sans Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'Freight Sans Book';
    font-style: normal;
    font-weight: normal;
    src: local('Freight Sans Book'), url('Freight Sans Book.otf') format('opentype');
}

/* Raph Lanok Future */
@font-face {
    font-family: 'Raph Lanok Future';
    font-style: normal;
    font-weight: normal;
    src: local('Raph Lanok Future'), url('Raph Lanok Future.otf') format('opentype');
}
